<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <section class="search">
      <h1 class="search__title">Buscador de series</h1>
      <form action="" class="search__form">
        <input type="text" class="search__field">
        <button class="search__btn" type="button">Buscar</button>
      </form>
    </section>
    <section class="results">
      <ul class="results__items"></ul>
    </section>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
